@tailwind base;
@tailwind components;
@tailwind utilities;

/* BASE */
* {
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	outline: none;
}
body {
	color: #252525;
	font-family: 'Raleway', sans-serif;
}
img {
	max-width: 100%;
}
._flex {
	display: flex;
	align-items: center;
}
.fx_center {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.fx_between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
._grid {
	display: grid;
	align-content: center;
}
.gd_center_content {
	display: grid;
	align-content: center;
	justify-content: center;
	text-align: center;
}

/* PAGES */

.btn_primary {
	font-size: 14px;
	padding: 7px 24px;
	border-radius: 6px;
	color: #fff;
	background: #252525;
	@apply select-none transition-all hover:opacity-85;
}

/*!----- SECTIONS -------*/

/*!----- MEDIA QUERIES -------*/
/* @media (min-width: 1280px) {
	.container {
		max-width: 1280px;
	}
} */
